@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-paint: url("../public/bg-home.png");
}

html {
  scroll-behavior: smooth;
}

body {
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 0.5rem; */
  padding-bottom: 0;
  text-align: center;
  font-family: sans-serif;
}

.container {
  @apply max-w-7xl mx-auto
}

#functional {
  font-family: monospace;
  @apply bg-slate-800 text-cyan-600
}

.home {
  background-image: var(--bg-paint);
  background-position-y: 32rem;
  background-position: 41rem;
}

.btn {
  @apply border-2 border-black w-fit m-auto p-4 text-3xl hover:bg-black hover:text-white
}

.icon-xl {
  @apply text-8xl m-auto
}

.form-question {
  @apply bg-slate-200 mx-auto p-4 flex rounded-lg sm:gap-20
}

.info {
}