@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-paint: url("../public/bg-home.png");
}

html {
  scroll-behavior: smooth;
}

body {
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 0.5rem; */
  padding-bottom: 0;
  text-align: center;
  font-family: sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: black; */

  /* @apply bg-slate-200 bg-white */
}

.support-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
  /* border: 2px solid red; */
}

.bg-blur {
  background-color: rgba(27, 27, 27, 0.089);
  backdrop-filter: blur(30px);
}

.title {
  @apply w-fit mx-auto border-b-2 border-black
}

.title-2 {
  @apply tracking-wider text-slate-600
}

#pricing {}


.container {
  @apply max-w-7xl mx-auto
}

#functional {
  font-family: monospace;
  @apply bg-slate-800 text-cyan-600
}

.home {
  background-image: var(--bg-paint);
  background-position-y: 32rem;
  background-position: 41rem;
}

.btn {
  /* @apply border-2 border-black w-fit m-auto p-4 text-3xl hover: bg-black hover:text-white */
}

.icon-xl {
  @apply text-8xl m-auto
}

.form-question {
  /* @apply bg-slate-200 mx-auto p-4 flex rounded-lg sm:gap-20 */

  /* font-size: 2rem; */
  font-weight: bold;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.modal-show {
  opacity: 1;
  /* transform: translateY(2rem); */
  transition: all 400ms ease;
}

.modal-hide {
  opacity: 0;
  pointer-events: none;
}

label {
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked+label {
  /* @apply bg-black text-blue-600 */
  @apply bg-blue-400
}

fieldset {
  @apply pt-4
}

legend {
  @apply pb-1 border-black text-2xl 
}

input[type=search] {
  outline: none;
}

/* Clears search bar cross from IE */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* Clears search bar cross from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


input[type=checkbox]::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: all 200ms ease-in;
}

input[type=checkbox]:checked::before {
  /* background-color: red; */
  transform: scale(0.8);

  @apply bg-blue-500
}

input[type=checkbox] {
  transform: scale(1.8);
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;

  display: grid;
  place-content: center;
  border: 1.5px solid black;
  border-radius: 20%;
  cursor: pointer;
}

/* input [type=checkbox]:hover {
  background-color: red;
} */

.checkbox {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.checkbox:hover input {
  @apply bg-slate-200
}

.table-mobile {
  @apply flex justify-start w-full overflow-auto
}

.form-level-1 {
  @apply h-56 sm:h-32
}

.form-level-2 {
  @apply h-[30rem] sm:h-64
}

.form-level-3 {
  @apply h-[52rem] sm:h-[36rem]
}

table {}


th, td {
  height: 4rem;
  width: 21.5rem;
  padding: 4;
}

tr:hover td {
  font-size: 20px;
  font-weight: 400;
}

td {}

tr:nth-child(even) {
  @apply bg-stone-100
}

tr:nth-child(odd) {
  @apply bg-slate-200
}

tr:hover {
  @apply bg-slate-100
}

.work-title {
  /* @apply text-4xl xl:text-7xl font-bold  */
}