@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

#functional {
  font-family: monospace;
  @apply bg-slate-800 text-cyan-600
}

.home {
  background-image: url("../public/bg-home.png");
  background-position-y: 32rem;
  background-position: 41rem;
}